h1 {
    height: auto;
    width: auto;
    border-radius: 0%;
    align-items: left;
    display: flex;
    justify-content: left;
    background-image: none;
}

body {
    display: block;
}

footer {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    top: 40%;
    border-top: .7em double black;
    width: 100%;
    flex: 0 1 auto;
}

div {
    border: .1em solid black;
    margin: .1em;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
h5 {
    border-bottom: .1em solid black;
    margin: .3em 0.5em 0;
}

p {
    height: 5em;
    margin: 0px 1em;
}

h6 {
    color: grey;
    font-weight: normal;
    margin: 0 0.5em 0.5em;
}