/* Body */
body {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100vh;
}

/* Page heading */
h1 {
    height: auto;
    width: auto;
    border-radius: 0%;
    align-items: normal;
    display: flex;
    justify-content: left;
    background-image: none;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
}

/* Style JavaScript generated content */
.posts {
    border: .1em solid ;
    margin: .3em;
}


h5 {
    border-bottom: .1em solid;
    margin: .3em 0.5em 0;
}

p {
    height: 5em;
    margin: 0 1em;
    padding-top: .5em;
}

h6 {
    color: grey;
    font-weight: normal;
    margin: 0 0.5em 0.5em;
}

/* Footer */
footer {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    border-top: .7em double;
    width: 100%;
    flex: 0 1 auto;
    bottom: 0;
    margin-top: .3%;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
    margin-left: .3em
}

/* media query for screen width less than 768px*/
@media screen and (max-width: 768px)
{
    header {
        flex-direction: column;
        height: 115px;
    }

    h1 {
        padding: .5em 0;
    }

    .buttons {
        padding-bottom: 1.5em;
    }

    footer {
        justify-content: center;
    }
}