/* Universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    height: 100%;
    height: 100%;
    width: 100%;
    justify-content: center;
}

/* Positions theme and/or back button(s) */
.buttons {
    position: absolute;
    right: 0;
    display: flex;
    
}

/* Button styling */
button {
    padding: 0 .5em;
    border: none;
}

/* theme button styling */
#Theme {
    background-color: transparent;
    color: #FFC107;
    margin: 0 1em 0 .5em;
}

/* Header */
header {
    height: 50px;
    border-bottom: .7em double;
    width: 100%;
    flex: 0 1 auto; 
    padding: 2em 1%;
    display: flex;
    align-items: center;
}

/* Left side of the page */
aside {
    flex-wrap: wrap;
    display: flex;
    width: 50%;
    height: 88%;
    flex: 2 1 auto;
    align-items: center;
    justify-content: center;
    border-right: .25em solid;
    margin-right: -.325em;
}

/* Page heading */
h1 {
    width: 20em;
    height: 20em;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(0deg, #98681b 0%, #ffb02d 30%, #ffd62f 60%);;
}

/* Form heading */
h2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top: 25%;
}

/* Themes */
.light {
    background-color: #fff;
    color: #000000;
}

.dark {
    background-color: #00003b;
    color: #fff;
}

/* media query for screen width less than 768px*/
@media screen and (max-width: 768px)
{
    header {
        justify-content: center;
        padding: 2em 0;
    }

    .buttons {
        position: static;
    }
}